<h1>Word Count</h1>
<p>Enter a word then enter a sentence in the second text box</p>
<form action="/index">
<input type="text" name="input1">
<input type="text" name="input2">
<button type="submit" class=" btn btn-primary">Enter</button>
</form>
